// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #F4F4F4;
$white: #ffffff;

body{
  background-color: $white;
  font-family: montserrat;
}

.banner {
  background: $white;
  padding: 20px 30px;
  h1 {
    font-size: 50px;
  }
}
#coach{
  background-color: #fffde1;
}
#you{
  background-color: #ffffff;
}

.answer{
  border-left: 8px solid lightgrey;
  height: 90px;
  padding-left: 10px;
  display: flow-root;
  margin-bottom: 20px;
}

#title{
  font-size: 50px;
  font-weight: normal;
  font-family: roboto;
}

form{
  display: flex;
  width: 100%;
  height: 60px;
}
.input{
  width: 90%;
  border-radius: 10px 0px 0px 10px;
  font-size: 25px;
  padding-left: 21px;
  border: 2px $gray solid;
}

.submit{
  flex-grow: 1;
  color: $white;
  background-color: #0169d9;
  border-radius: 0px 10px 10px 0px;
}

a {
  color: darkseagreen;
  text-decoration: none;
  &:hover {
    color: black;
  }
}
